body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #fdf2fa;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.field-cell {
  background: rgba(243, 215, 242, 0.4);
  width: 75px;
  height: 75px;
  border-radius: 5px;
  color: #4a154b;
  box-sizing: border-box;
  text-align: center;
  vertical-align: center;
  user-select: none;

  &--2 {
    background: #fce7f3;
    color: #4a154b;
  }

  &--4 {
    background: #f4cbff;
    color: #4a154b;
  }

  &--8 {
    background: #ea9eff;
    color: #4a154b;
  }

  &--16 {
    background: #d676ff;
    color: #fff;
  }

  &--32 {
    background: #b546ff;
    color: #fff;
  }

  &--64 {
    background: #8e1eff;
    color: #fff;
  }

  &--128 {
    background: #ff7be5;
    color: #fff;
  }

  &--256 {
    background: #ff41d5;
    color: #fff;
  }

  &--512 {
    background: #e000aa;
    color: #fff;
  }

  &--1024 {
    background: #9d007a;
    color: #fff;
  }

  &--2048 {
    background: #63004d;
    color: #fff;
    box-shadow: 0 0 15px rgba(224, 0, 170, 0.6);
  }
}

.game-field {
  background: #34223c;
  border-spacing: 10px;
  border-radius: 5px;
}

.game-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  background: #b546ff;
  color: #fff;
  width: 75px;
  height: 75px;
  font-size: 24px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ebdcf0;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  color: #695270;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0 8px 0 0;

  &--big {
    text-align: center;
  }
}

.controls {
  display: flex;
}

.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 75px;
  height: 75px;

  transition: 0.25s ease background;
}

.start {
  background: #00c896;
  font-size: 20px;

  &:hover {
    background: #00a37b;
  }
}

.restart {
  background: #ff6b8b;

  &:hover {
    background: #e84a6c;
  }
}

.message {
  box-sizing: border-box;
  width: 100%;
  background: #ebdcf0;
  color: #695270;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.message-win {
  background: #ff41d5;
  color: #fff;
}

.message-container {
  width: 100%;
  height: 150px;
}
